.name{
    box-sizing: border-box;

    position: absolute;
    width: 1903px;
    height: 60px;
    left: 0px;
    top: -3px;

    background: #222222;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    
    
}

#name_GADG{
    position: absolute;
    width: 69px;
    height: 10px;
    left: 148px;
    top: 11px;

    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 10px;

    color: #FFFFFF;
}

#name_ET{
    position: absolute;
    width: 32px;
    height: 10px;
    left: 216px;
    top: 11px;

    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 10px;

    color: #FF7417;
}

#name_cart{
    position: absolute;
    width: 39px;
    height: 10px;
    left: 1303px;
    top: 21px;

    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 10px;


    color: #FF7417;
}

#name_zero{
    position: absolute;
    width: 11px;
    height: 10px;
    left: 7px;
    top: 6px;

    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;


    color: #FFFFFF;
}
#name_background_zero{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 1342px;
    top: 17px;
    
    background: #BD1DBD;
    
}

.buttons{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;

    color: #222222;
}

button{
    box-sizing: border-box;

    background: #EFEFEF;
    border: 1px solid #EEEEEE;
    border-radius: 0px;
}

button:hover{
    box-sizing: border-box;

    background: #EFEFEF;
    border: 1px solid #A0A3AD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    
}

#sortByProductName{
    position: absolute;
    width: 195px;
    height: 40px;
    left: 255px;
    top: 107px;
}
#sortByPrice{
    position: absolute;
    width: 130px;
    height: 40px;
    left: 1110px;
    top: 101px;
}
.textUnderPhone{
    text-align: center;
}
 .buttonUnderPhone{
    box-sizing: border-box;
    position: absolute;
    width: 100px;
    height: 40px;
    margin-left: -150px;
}
img{
    height: 300px;
}
.price{
    margin-left: 150px;
    
}
#caption{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.catalog{
    
    float: left;
    margin: 191px 0 0 5.5%; 

    font-family: 'Dosis';
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
}







footer{
    position: absolute;
    width: 1903px;
    height: 90px;
    left: 0px;
    top: 1614px;

    background: #222222;
}
.foot{
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;


    color: #FF7417;
}
#contactUs{
    position: absolute;
    width: 64px;
    height: 19px;
    left: 148px;
}
#feedback{
    position: absolute;
    width: 184px;
    height: 19px;
    left: 148px;
    top: 20px;
}
#copygryght{
    position: absolute;
    width: 129px;
    height: 50px;
    left: 148px;
    top: 40px;

    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;


    color: #FFFFFF;
}